<div id="prefooter">

	<!-- Prefooter block beginning -->
	<div class="prefooter-block width-33">

		<h2>Sobre nosotros</h2>
		<p>HaloSpain es una comunidad fanática española dedicada a la saga de videojuegos Halo para Xbox One, Xbox 360 y PC.</p> 
		
	</div>
	<!-- Prefooter block end -->

	<!-- Prefooter block beginning -->
	<div class="prefooter-block width-33">

		<h2>Contacto</h2>
		<ul>
			<li><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="http://www.twitter.com/halospain" target="_blank">@halospain</a></li>
			<li><i class="fa fa-facebook fa-lg fa-fw"></i> <a href="https://es-es.facebook.com/comunidadhalospain" target="_blank">Comunidad Halospain</a></li>
			<li><i class="fa fa-youtube fa-lg fa-fw"></i> <a href="http://www.youtube.com/halospaintv" target="_blank">Halospain TV</a></li>
			<li><i class="fa fa-envelope fa-lg fa-fw"></i> <a href="mailto:contacto@halospain.com" target="_blank">contacto@halospain.com</a></li>
		</ul>
		
	</div>
	<!-- Prefooter block end -->

	<!-- Prefooter block beginning -->
	<div class="prefooter-block width-33">

		<h2>Mapa del sitio</h2>
		<ul>
			<li><i class="fa fa-chevron-circle-right fa-fw"></i>&nbsp;<a href="/">Home</a></li>
			<li><i class="fa fa-chevron-circle-right fa-fw"></i>&nbsp;<a href="/categorias/noticias">Noticias</a></li>
			<li><i class="fa fa-chevron-circle-right fa-fw"></i>&nbsp;<a href="/categorias/articulos">Artículos</a></li>
			<li><i class="fa fa-chevron-circle-right fa-fw"></i>&nbsp;<a href="{U_INDEX}">{L_FORUMS}</a></li>
			<li><i class="fa fa-chevron-circle-right fa-fw"></i>&nbsp;<a href="/streams">Streams</a></li>
			<li><i class="fa fa-chevron-circle-right fa-fw"></i>&nbsp;<a href="http://www.youtube.com/halospaintv" target="_blank">Halospain TV</a></li>
		</ul>
		
	</div>
	<!-- Prefooter block end -->
	
</div>