<div id="sidebar">

	<!-- Sidebar block beginning -->
	<div class="sidebar-block">

		<!-- Sidebar header beginning -->		
		<h2 class="sidebar-block-header">
			PUBLICIDAD
		</h2>
		<!-- Sidebar header end -->

		<!-- Sidebar content beginning -->	
		<div class="sidebar-block-content">
			<p style="text-align: center;">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- HaloSpain - Vertical foro -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:160px;height:600px"
                     data-ad-client="ca-pub-5235434196214884"
                     data-ad-slot="2674853792"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
			</p>
		</div>
		<!-- Sidebar content end -->

	</div>
	<!-- Sidebar block end -->

</div>