<div id="sidebar">

	<!-- Sidebar block beginning -->
	<div class="sidebar-block">

		<!-- Sidebar header beginning -->		
		<h2 class="sidebar-block-header">
			PUBLICIDAD
		</h2>
		<!-- Sidebar header end -->

		<!-- Sidebar content beginning -->	
		<div class="sidebar-block-content">
			<p style="text-align: center;">
				<img src="http://maquetacionclic.com/onewebstatic/7ecdd5586c-wide-skyscraper-banner-160-600-a84.gif" alt="Banner" title="Banner" />
			</p>
		</div>
		<!-- Sidebar content end -->

	</div>
	<!-- Sidebar block end -->

</div>